/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/background.jpg'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

/* Centrar el contenido */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px; /* tamaño de la caja de contenido */
    height: 450px;

}
/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 20px;
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.username {
    font-size: 18px;
    font-weight: bold;
}
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-menu li {
    display: inline;
}
.navbar-menu a, .logout-button {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.logout-button {
    font-weight: bold;
    background: red;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Contenedor principal del login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.login-box {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    flex-direction: column;
    align-items: center;
}
.login-image {
    width: 100px;
    height: 100px;
    background-image: url('./login.png'); /* Imagen de login */
    background-size: cover;
    background-position: center;
    /*border-radius: 50%;*/
    margin-bottom: 15px;
}
.login-form {
    width: 100%;
    text-align: center;
}
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
.input-field {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.login-button:hover {
    background-color: #0056b3;
}
.login-links {
    margin-top: 10px;
}
.login-links a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
}
.login-links a:hover {
    text-decoration: underline;
}
